frappe
pandas
croniter
watchgod
pymysql>=1.0.2
sqlalchemy
pygelf
aioredis
gevent
xlrd==1.2
orjson
azure-storage-blob
aiohttp
werkzeug==0.16.1
kafka-python==2.0.1
ipdb
xlsxwriter
RestrictedPython
xxhash
jinja2
ciso8601
elasticsearch
kubernetes
paho-mqtt
click==7.1.2
premailer>=3.9.0
