.color0 {
    color: #213E9A;
  }
  .color1 {
    color: #551EAD;
  }
  .color2 {
    color: #C019BD;
  }
  .color3 {
    color: #D31256;
  }
  .color4 {
    color: #E6470A;
  }
  .color5 {
    color: #F9E200;
  }
  .color6 {
    color: #ff00ff;
  }
  .color7 {
    color: #f23d2d;
  }
  .color8 {
    color: #12939A;
  }
  .color9 {
    color: #DDB27C;
  }
  .color10 {
    color: #88572C;
  }
  .color11 {
    color: #FF991F;
  }
  .color12 {
    color: #F15C17;
  }
  .color13 {
    color: #800080;
  }
  .color14 {
    color: #7fde22;
  }
  .color15 {
    color: #5A1846;
  }
  .color16 {
    color: #E3611C;
  }
  .color17 {
    color: #FFC300;
  }
  .color18 {
    color: #2C1E3D;
  }
  .color19 {
    color: #DD7755;
  }
  .color20 {
    color: #5DBABF;
  }
  .location-sprite {
    background: url("../images/location-sprite.png");
    width: 23px;
    height: 32px;
  }
  .l0 {
    padding: 10px 15px;
    background-position: 0px 0px;
    background-image: url("../images/depotIcon.png");
    background-repeat: no-repeat;
  }
  .l1 {
    background-position: -22px 0px;
  }
  .l2 {
    background-position: -44px 0px;
  }
  .l3 {
    background-position: -66px 0px;
  }
  .l4 {
    background-position: -88px 0px;
  }
  .l5 {
    background-position: -110px 0px;
  }
  .l6 {
    background-position: -132px 0px;
  }
  .l7 {
    background-position: -154px 0px;
  }
  .l8 {
    background-position: -176px 0px;
  }
  .l9 {
    background-position: -198px 0px;
  }
  .l10 {
    background-position: -220px 0px;
  }
  .l11 {
    background-position: -242px 0px;
  }
  .l12 {
    background-position: -264px 0px;
  }
  .l13 {
    background-position: -286px 0px;
  }
  .l14 {
    background-position: -308px 0px;
  }
  .l15 {
    background-position: -330px 0px;
  }
  .l16 {
    background-position: -352px 0px;
  }
  .l17 {
    background-position: -374px 0px;
  }
  .l18 {
    background-position: -396px 0px;
  }
  .l19 {
    background-position: -418px 0px;
  }
  .l20 {
    background-position: -440px 0px;
  }
  .l21 {
    background-position: -462px 0px;
  }
  .l22 {
    background-position: -484px 0px;
  }
  .l23 {
    background-position: -506px 0px;
  }
  .l24 {
    background-position: -528px 0px;
  }
  .l25 {
    background-position: -550px 0px;
  }
  .l26 {
    background-position: -572px 0px;
  }
  .l27 {
    background-position: -594px 0px;
  }
  .l28 {
    background-position: -616px 0px;
  }
  .l29 {
    background-position: -638px 0px;
  }
  .l30 {
    background-position: -660px 0px;
  }
  .l31 {
    background-position: -682px 0px;
  }
  .l32 {
    background-position: -704px 0px;
  }
  .l33 {
    background-position: -726px 0px;
  }
  .l34 {
    background-position: -748px 0px;
  }
  .l35 {
    background-position: -770px 0px;
  }
  .l36 {
    background-position: -792px 0px;
  }
  .l37 {
    background-position: -814px 0px;
  }
  .l38 {
    background-position: -836px 0px;
  }
  .l39 {
    background-position: -858px 0px;
  }
  .l40 {
    background-position: -880px 0px;
  }
  .l41 {
    background-position: -902px 0px;
  }
  .l42 {
    background-position: -924px 0px;
  }
  .l43 {
    background-position: -946px 0px;
  }
  .l44 {
    background-position: -968px 0px;
  }
  .l45 {
    background-position: -990px 0px;
  }
  .l46 {
    background-position: -1012px 0px;
  }
  .l47 {
    background-position: -1034px 0px;
  }
  .l48 {
    background-position: -1056px 0px;
  }
  .l49 {
    background-position: -1078px 0px;
  }
  .l50 {
    background-position: -1100px 0px;
  }
  .l51 {
    background-position: -1122px 0px;
  }
  .l52 {
    background-position: -1144px 0px;
  }
  .l53 {
    background-position: -1166px 0px;
  }
  .l54 {
    background-position: -1188px 0px;
  }
  .l55 {
    background-position: -1210px 0px;
  }
  .l56 {
    background-position: -1232px 0px;
  }
  .l57 {
    background-position: -1254px 0px;
  }
  .l58 {
    background-position: -1276px 0px;
  }
  .l59 {
    background-position: -1298px 0px;
  }
  .l60 {
    background-position: -1320px 0px;
  }
  .l61 {
    background-position: -1342px 0px;
  }
  .l62 {
    background-position: -1364px 0px;
  }
  .l63 {
    background-position: -1386px 0px;
  }
  .l64 {
    background-position: -1408px 0px;
  }
  .l65 {
    background-position: -1430px 0px;
  }
  .l66 {
    background-position: -1452px 0px;
  }
  .l67 {
    background-position: -1474px 0px;
  }
  .l68 {
    background-position: -1496px 0px;
  }
  .l69 {
    background-position: -1518px 0px;
  }
  .l70 {
    background-position: -1540px 0px;
  }
  .l71 {
    background-position: -1562px 0px;
  }
  .l72 {
    background-position: -1584px 0px;
  }
  .l73 {
    background-position: -1606px 0px;
  }
  .l74 {
    background-position: -1628px 0px;
  }
  .l75 {
    background-position: -1650px 0px;
  }
  .l76 {
    background-position: -1672px 0px;
  }
  .l77 {
    background-position: -1694px 0px;
  }
  .l78 {
    background-position: -1716px 0px;
  }
  .l79 {
    background-position: -1738px 0px;
  }
  .l80 {
    background-position: -1760px 0px;
  }
  .l81 {
    background-position: -1782px 0px;
  }
  .l82 {
    background-position: -1804px 0px;
  }
  .l83 {
    background-position: -1826px 0px;
  }
  .l84 {
    background-position: -1848px 0px;
  }
  .l85 {
    background-position: -1870px 0px;
  }
  .l86 {
    background-position: -1892px 0px;
  }
  .l87 {
    background-position: -1914px 0px;
  }
  .l88 {
    background-position: -1936px 0px;
  }
  .l89 {
    background-position: -1958px 0px;
  }
  .l90 {
    background-position: -1980px 0px;
  }
  .l91 {
    background-position: -2002px 0px;
  }
  .l92 {
    background-position: -2024px 0px;
  }
  .l93 {
    background-position: -2046px 0px;
  }
  .l94 {
    background-position: -2068px 0px;
  }
  .l95 {
    background-position: -2090px 0px;
  }
  .l96 {
    background-position: -2112px 0px;
  }
  .l97 {
    background-position: -2134px 0px;
  }
  .l98 {
    background-position: -2156px 0px;
  }
  .l99 {
    background-position: -2178px 0px;
  }

  /* global styling */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-radius: 4px;
  border-bottom: none;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: '';
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 19px;
  left: 16px;
  width: 8px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 6px;
  left: 6px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #555;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: '';
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: '!';
  line-height: initial;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: -2px;
  left: 28px;
  border-radius: 0 4px 4px 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: '';
  display: block;
  width: 0;
  border-left: 2px solid rgba(0, 0, 0, .2);
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

/* animations */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.leaflet-top .leaflet-control-geosearch.bar,
.leaflet-bottom .leaflet-control-geosearch.bar {
  display: none;
}

.leaflet-control-geosearch.bar {
  position: relative;
  display: block;
  height: auto;
  width: 400px;
  margin: 10px auto 0;
  cursor: auto;
  z-index: 1000;
}

.leaflet-control-geosearch.bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.leaflet-control-geosearch.bar form input {
  min-width: 100%;
  width: 100%;
}

.leaflet-control-geosearch.bar .results.active:after {
  opacity: .2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none;
}

.leaflet-control-geosearch a.reset {
  color: black;
  position: absolute;
  line-height: 30px;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}

.leaflet-control-measure h3,
.leaflet-measure-resultpopup h3 {
	margin: 0 0 12px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd
}

.leaflet-control-measure p,
.leaflet-measure-resultpopup p {
	margin: 10px 0 0;
	line-height: 1.5em
}

.leaflet-control-measure p:first-child,
.leaflet-measure-resultpopup p:first-child {
	margin-top: 0
}

.leaflet-control-measure .tasks,
.leaflet-measure-resultpopup .tasks {
	margin: 12px 0 0;
	padding: 10px 0 0;
	border-top: 1px solid #ddd;
	text-align: right;
	list-style: none;
	list-style-image: none
}

.leaflet-control-measure .tasks li,
.leaflet-measure-resultpopup .tasks li {
	display: inline;
	margin: 0 10px 0 0
}

.leaflet-control-measure .tasks li:last-child,
.leaflet-measure-resultpopup .tasks li:last-child {
	margin-right: 0
}

.leaflet-control-measure .coorddivider,
.leaflet-measure-resultpopup .coorddivider {
	color: #999
}

.leaflet-control-measure {
	max-width: 280px;
	background: #fff
}

.leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-size: 14px 14px;
	background-image: url(assets/rulers.png);
	border: 0;
	border-radius: 4px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
	border-radius: 2px
}

.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-image: url(assets/rulers_@2X.png)
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-size: 16px 16px
}

.leaflet-control-measure .startprompt h3 {
	margin-bottom: 10px
}

.leaflet-control-measure .startprompt .tasks {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
	text-align: left
}

.leaflet-control-measure .leaflet-control-measure-interaction {
	padding: 10px 12px
}

.leaflet-control-measure .results .group {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #eaeaea
}

.leaflet-control-measure .results .group:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: 0
}

.leaflet-control-measure .results .heading {
	margin-right: 5px;
	color: #999
}

.leaflet-control-measure a.start {
	display: inline;
	width: auto;
	height: auto;
	padding-left: 20px;
	margin-right: 4px;
	line-height: 1em;
	border: 0;
	text-align: left;
	background-image: url("assets/start.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 12px 12px;
	color: #5e66cc;
	text-decoration: none
}

.leaflet-control-measure a.start,
.leaflet-control-measure a.start:hover {
	background-color: transparent
}

.leaflet-retina .leaflet-control-measure a.start {
	background-image: url("assets/start_@2X.png")
}

.leaflet-control-measure a.start:hover {
	opacity: .5;
	text-decoration: none
}

.leaflet-control-measure a.cancel {
	display: inline;
	width: auto;
	height: auto;
	padding-left: 20px;
	margin-right: 4px;
	line-height: 1em;
	border: 0;
	text-align: left;
	background-image: url("assets/cancel.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 12px 12px;
	color: #5e66cc;
	text-decoration: none
}

.leaflet-control-measure a.cancel,
.leaflet-control-measure a.cancel:hover {
	background-color: transparent
}

.leaflet-retina .leaflet-control-measure a.cancel {
	background-image: url("assets/cancel_@2X.png")
}

.leaflet-control-measure a.cancel:hover {
	opacity: .5;
	text-decoration: none
}

.leaflet-control-measure a.finish {
	display: inline;
	width: auto;
	height: auto;
	padding-left: 20px;
	margin-right: 4px;
	line-height: 1em;
	border: 0;
	text-align: left;
	background-image: url("assets/check.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 12px 12px;
	color: #5e66cc;
	text-decoration: none
}

.leaflet-control-measure a.finish,
.leaflet-control-measure a.finish:hover {
	background-color: transparent
}

.leaflet-retina .leaflet-control-measure a.finish {
	background-image: url("assets/check_@2X.png")
}

.leaflet-control-measure a.finish:hover {
	opacity: .5;
	text-decoration: none
}

.leaflet-measure-resultpopup a.zoomto {
	display: inline;
	width: auto;
	height: auto;
	padding-left: 20px;
	margin-right: 4px;
	line-height: 1em;
	border: 0;
	text-align: left;
	background-image: url("assets/focus.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 12px 12px;
	color: #5e66cc;
	text-decoration: none
}

.leaflet-measure-resultpopup a.zoomto,
.leaflet-measure-resultpopup a.zoomto:hover {
	background-color: transparent
}

.leaflet-retina .leaflet-measure-resultpopup a.zoomto {
	background-image: url("assets/focus_@2X.png")
}

.leaflet-measure-resultpopup a.zoomto:hover {
	opacity: .5;
	text-decoration: none
}

.leaflet-measure-resultpopup a.deletemarkup {
	display: inline;
	width: auto;
	height: auto;
	padding-left: 20px;
	margin-right: 4px;
	line-height: 1em;
	border: 0;
	text-align: left;
	background-image: url("assets/trash.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 12px 12px;
	color: #5e66cc;
	text-decoration: none
}

.leaflet-measure-resultpopup a.deletemarkup,
.leaflet-measure-resultpopup a.deletemarkup:hover {
	background-color: transparent
}

.leaflet-retina .leaflet-measure-resultpopup a.deletemarkup {
	background-image: url("assets/trash_@2X.png")
}

.leaflet-measure-resultpopup a.deletemarkup:hover {
	opacity: .5;
	text-decoration: none
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/fa-solid-900.eot);
  src: url(../fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900
}

.fa-map-marker-alt:before {
  content: "\f3c5"
}

.fa-map-marker-alt-slash:before {
  content: "\f605"
}

.fa-map-pin:before {
  content: "\f276"
}

.fa-location-arrow:before {
  content: "\f124"
}
.fas.fa-pull-right {
  margin-left: .3em
}
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.fas.fa-pull-left {
  margin-right: .3em
}